* {
  margin: 0;
  padding: 0;
  border: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:active,
:focus {
  outline: none;
}

html,
body {
  width: 100%;
  min-width: 320px;
  height: 100%;

  font-size: 100%;
  line-height: 1.2;
}

body {
  text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  color: inherit;

  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
