:root {
  --font-family-main: 'Nunito Sans', sans-serif;

  // small text
  --font-size-small: 0.875rem;
  --font-line-small: 1.2;
  --font-small-300: 300 var(--font-size-small) / var(--font-line-small) var(--font-family-main);
  --font-small-600: 600 var(--font-size-small) / var(--font-line-small) var(--font-family-main);
  --font-small-800: 800 var(--font-size-small) / var(--font-line-small) var(--font-family-main);

  // medium text
  --font-size-medium: 1rem;
  --font-line-medium: 1.3;
  --font-medium-300: 300 var(--font-size-medium) / var(--font-line-medium) var(--font-family-main);
  --font-medium-600: 600 var(--font-size-medium) / var(--font-line-medium) var(--font-family-main);
  --font-medium-800: 800 var(--font-size-medium) / var(--font-line-medium) var(--font-family-main);

  // H
  --font-h1: 800 2.5rem / 1.5 var(--font-family-main);

  // other
  --radii: 0.5rem;
}
